version: 1
formatters:
  console:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  file:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: console
    stream: ext://sys.stdout
  file:
    class: logging.FileHandler
    level: WARNING
    formatter: file
    filename: 'error.log'
root:
  level: INFO
  handlers: [file, console]