version: "3.9"
services:

    database:
        image: postgres:10.4
        restart: always
        ports:
            - "5432:5432"
        env_file:
            - .env.dev
        volumes:
            - database-data:/var/lib/postgresql/data

    nginx:
        image: nginx
        ports:
            - "8080:80"
        volumes:
            - ./conf.d:/etc/nginx/conf.d
        environment:
            - NGINX_HOST=foobar.com
            - NGINX_PORT=80
        depends_on:
            - flask
        container_name: nginx

    flask:
        image: flask
        build:
            context: ./
            dockerfile: Dockerfile
        ports:
            - "5000:5000"
        env_file:
            - .env.dev
        volumes:
            - .:/opt/services/flaskapp/src
        container_name: flask
        command: gunicorn --bind 0.0.0.0:5000 app:app
        depends_on:
            -   database


volumes:
    database-data:
