version: "3.9"
services:

    database:
        image: postgres:10.4
        restart: always
        env_file:
            - .env.dev
        volumes:
            - database-data:/var/lib/postgresql/data

    nginx:
        image: nginx
        ports:
            - "80:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        environment:
            - NGINX_HOST=foobar.com
            - NGINX_PORT=80
        depends_on:
            - flask
        container_name: nginx

    flask:
        image: flask
        build:
            context: ./
            dockerfile: Dockerfile
        expose:
            - 8000
        env_file:
            - .env.dev
        volumes:
            - .:/opt/services/flaskapp/src
        container_name: flask
        depends_on:
            -   database


volumes:
    database-data:
